/**
 * List reset hard - removes all list styling including margins
 */
@utility list-reset-hard {
	@apply list-reset;

	margin-top: 0;
	margin-bottom: 0;

	li {
		margin-top: 0;
		margin-bottom: 0;
	}
}
