.g-card {
    --g-card--max-width: 25rem; /* 400px */
    /* --g-card--outer-padding-x: spaceFluid(8, 12); */
    /* --g-card--outer-padding-y: spaceFluid(8, 12); */
    --g-card--inner-padding-x: spaceFluid(8, 12);
    --g-card--inner-padding-y: spaceFluid(8, 12);
    --g-card--media--border-radius: 0;
    --g-card--box-shadow: var(--base--shadow);
    --g-card--box-shadow--hover: var(--base--shadow--hover);
    --g-card--border-radius: var(--radius-sm);
    --g-card--transition-duration: 800ms;
    --g-card--transition-ease: var(--transition--ease);
    --g-card--image-scale: 1;
    --g-card--image-scale--hover: 1.04;
    --g-card--image-transition-duration: 600ms;
    --g-card--image-transition-ease: cubic-bezier(0.4, 0, 0.2, 1);

    position: relative;
    display: flex;
    overflow: hidden;
    max-width: var(--g-card--max-width, none);
    flex-direction: column;
    padding: var(--g-card--outer-padding-y) var(--g-card--outer-padding-x);
    isolation: isolate; /* Create local stacking context */
    text-align: left;
    transition: box-shadow var(--g-card--transition-duration) var(--g-card--transition-ease);

    &[class*='has-background'] {
        background-color: var(--color-background);
        box-shadow: var(--g-card--box-shadow);
    }

    &.has-link {
        &:hover,
        &:focus-visible {
            &[class*='has-background'] {
                box-shadow: var(--g-card--box-shadow--hover);
            }

            &:not(.has-embed) {
                .g-card__image-inner {
                    > * {
                        transform: translate3d(0, 0, 0) scale3d(var(--g-card--image-scale--hover), var(--g-card--image-scale--hover), 1);
                    }
                }
            }
        }
    }

    :where(.g-card__inner) {
        display: flex;
        height: 100%;
        flex-flow: column nowrap;
        padding: var(--g-card--inner-padding-y) var(--g-card--inner-padding-x);
        padding-left: 0;
        padding-top: space(20);

        > *:not(.g-card__header) {
            z-index: 200; /* Above card link pseudo-element */
        }
    }

    :where(.g-card__header) {
        flex: 1;
    }

    :where(.g-card__heading) {
        @apply type-h4;
        margin-top: 0;
        margin-bottom: 0;
        a:hover {
            text-decoration: none;
            color: var(--color-mid-blue);
        }

        a {
            /* Make the whole card a clickable link. Should sit below any other
               interactive elements, e.g. meta, embed buttons, etc. */
            &::before {
                position: absolute;
                z-index: 100; /* Below other interactive elements */
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                content: '';
            }
        }
    }

    :where(.g-card__content) {
        @apply margin-trim;
        @apply type-regular;

        flex: 1;
        margin-top: space(12);
    }

    :where(.g-card__meta) {
        @apply margin-trim;

        margin-top: space(4);
    }

    :where(.g-card__image) {
        width: 100%;
        align-self: center;
        order: -1;

        :where(.g-card__image-inner) {
            overflow: hidden;
            border-radius: var(--g-card--media--border-radius);
            aspect-ratio: 1 / 1;

            > * {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: var(--g-card--image--object-fit, cover);
                transform-origin: center center;
                transform: translate3d(0, 0, 0) scale3d(var(--g-card--image-scale), var(--g-card--image-scale), 1);
                backface-visibility: hidden;
                transition: transform var(--g-card--image-transition-duration) var(--g-card--image-transition-ease);
            }
        }
    }

    :where(.g-card__labels) {
        margin-top: space(4);

        :where(.g-card__labels__items) {
            --grid--row-gap: space(4);
            --grid--column-gap: space(4);

            @apply flex-list;
        }
    }

    :where(.g-card__find-out-more) {
        align-self: start;
        margin-top: space(20);
        width: 100%;
    }

    &.has-embed {
        .g-card__image {
            @apply responsive-embed;

            z-index: 200; /* Above card link pseudo-element */
        }
    }

    &:where(.g-card--type--article) {
        --g-card--inner-padding-x: space(12);
        --g-card--inner-padding-y: space(12);

        text-align: left;

        .g-card__find-out-more {
            align-self: flex-start;
        }
    }

    &:where(.g-card--type--story) {
        .g-card__meta {
            @apply type-quote-credit;

            margin-top: space(6);
            color: var(--color-mid-blue);
        }

        .g-card__content {
            margin-top: space(12);
        }
    }

    &:where(.g-card--type--guide) {
        .g-card__meta {
            @apply type-quote-credit;

            margin-top: space(6);
            color: var(--color-mid-blue);
        }
    }

    &:where(.g-card--type--horizontal) {
        --g-card--max-width: none;
        --g-card--inner-padding-x: 0;
        --g-card--inner-padding-y: 0;
        --g-card--media--border-radius: 0;
        --g-card--box-shadow: none;
        --g-card--box-shadow--hover: none;
        --g-card--border-radius: 0;
        --g-card--horizontal--mobile-block-gap: space(24);
        --g-card--horizontal--mobile-content-gap: space(8);

        flex-direction: row;
        align-items: flex-start;
        gap: space(24);

        @media (width < theme('screens.md')) {
            gap: space(16);
            border-top: 0.5px solid var(--color-bright-blue);
        }

        .g-card__image {
            flex: 0 0 12.5rem; /* 200px */
            width: 12.5rem;

            @media (width < theme('screens.md')) {
                flex-basis: 100px;
                width: 100px;
                max-width: 100px;
                margin-block: var(--g-card--horizontal--mobile-block-gap);
            }
        }

        .g-card__inner {
            padding: 0;
            padding-top: 0;

            @media (width < theme('screens.md')) {
                margin-top: var(--g-card--horizontal--mobile-block-gap);
            }
        }

        .g-card__header {
            @media (width < theme('screens.md')) {
                display: flex;
                flex-direction: column;
                gap: var(--g-card--horizontal--mobile-content-gap);
            }
        }

        .g-card__heading {
            @apply type-h5;
        }

        .g-card__meta,
        .g-card__content {
            @media (width < theme('screens.md')) {
                margin-top: 0;
            }
        }

        .g-card__content {
            @media (width < theme('screens.md')) {
                @apply type-small;
            }
        }
    }
}
