/* Gutenberg Core Block Styles */
@import './styles/_wp-block-columns.pcss';
@import './styles/_wp-block-group.pcss';
@import './styles/_wp-block-buttons.pcss';
@import './styles/_wp-block-embed.pcss';
@import './styles/_wp-block-gallery.pcss';
@import './styles/_wp-block-paragraph.pcss';
@import './styles/_wp-block-heading.pcss';
@import './styles/_wp-block-image.pcss';
@import './styles/_wp-block-quote.pcss';
@import './styles/_wp-block-separator.pcss';
