@utility focus-base {
    outline: var(--base--focus-width, 2px) dotted var(--focus--color);
    outline-offset: var(--base--focus-offset, 0);

    /* Remove focus styles for mouse users. */
    &:not(:focus-visible) {
        @apply no-focus-be-careful;
    }
}
