/* @font-face {
    font-display: fallback;
    font-family: 'Example';
    font-style: normal;
    font-weight: normal;
    src: url('/subset-Example-Regular.woff2') format('woff2');
} */

/* @font-face {
    font-display: fallback;
    font-family: 'Example';
    font-style: italic;
    font-weight: normal;
    src: url('/subset-Example-Italic.woff2') format('woff2');
} */
