.related-stories {
    .cards__inner {
        padding-top: spaceFluid(40, 80);
        padding-bottom: spaceFluid(40, 80);
    }

    .cards__header {
        text-align: left;
        margin-bottom: space(32);
    }

    .cards__heading {
        @apply type-h4;
        margin: 0;
        color: var(--color-navy);
    }

    .g-card__content {
        color: var(--color-navy);
    }
}
