/* Main stylesheet */
@import 'tailwindcss';

/* Theme (variables, design tokens) */
@import './styles/1-theme/index.pcss';

/* Base (generic + elements) */
@import './styles/2-base/index.pcss' layer(base);

/* Patterns (multi-property @utility patterns) */
@import './styles/3-patterns/index.pcss';

/* Utilities (simple single-purpose helpers) */
@import './styles/4-utilities/index.pcss';

/* Component styles */
@import '_components.pcss';
