.accordion {
    --accordion--items--border-y: var(--border-orange);
    --accordion--item--padding-y: space(12);
    --accordion--item--panel--padding-y: space(24);
    --accordion--btn--size: 2.1875rem; /* 35px */
    --accordion--icon--size: 0.75rem; /* 12px */

    :where(.accordion__header) {
        @apply margin-trim;
        margin-bottom: space(32);
    }

    :where(.accordion__heading) {
        max-width: var(--heading--max-width);
        text-align: start;
        text-transform: capitalize;
    }

    :where(.accordion__items) {
        border-top: var(--accordion--items--border-y);
        border-right: var(--accordion--items--border-y);
        border-left: var(--accordion--items--border-y);
    }

    :where(.accordion__item) {
        border-bottom: var(--accordion--items--border-y);

        :where(.accordion__item__heading) {
            @apply type-h6;
            @apply content-width-2xs;

            padding: 0;
            margin: 0;
        }

        :where(.accordion__item__header) {
            @apply btn--unstyled;

            display: grid;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            padding: var(--accordion--item--padding-y) spaceFluid(16, 24);
            margin: 0;
            background: none;
            color: var(--color-foreground);
            column-gap: space(12);
            grid-template-areas: 'content button';
            grid-template-columns: 1fr var(--accordion--btn--size);
            text-align: left;

            &[aria-expanded='true'] {
                background-color: var(--color-neutral);
            }

            @media (min-width: theme('screens.md')) {
                min-height: space(80);
            }

            @media (hover: hover) {
                &:hover {
                    &::before {
                        background-color: var(--btn--background-color--hover);
                    }

                    &::after {
                        background-color: var(--btn--color-hover);
                    }
                }
            }

            &:focus-within:focus-visible {
                &::before {
                    background-color: var(--btn--background-color--hover);
                }

                &::after {
                    background-color: var(--btn--color-hover);
                }
            }

            &[aria-expanded='true'] {
                &::after {
                    transform: rotate(180deg);
                }
            }

            &::before,
            &::after {
                display: block;
                width: var(--accordion--btn--size);
                height: var(--accordion--btn--size);
                content: '';
                grid-area: button;
            }

            &::before {
                border: solid 1px var(--color-navy);
            }

            &::after {
                background-color: var(--color-black);
                content: '';
                mask-image: url('/images/icons/chevron-down.svg');
                mask-position: center;
                mask-repeat: no-repeat;
                mask-size: var(--accordion--icon--size);
                transition: transition(transform);
            }
        }

        :where(.accordion__item__panel) {
            overflow: hidden;

            :where(.accordion__item__panel-inner) {
                @apply type-small;
                @apply margin-trim;

                background-color: var(--color-neutral);
                padding: 0 spaceFluid(16, 24) var(--accordion--item--panel--padding-y);

            }
        }

        :where(.accordion__item__panel) p {
            @apply type-small;
        }
    }
}
