.taxonomy-filters {
    --section--margin-bottom: calc(var(--section--margin-bottom) / 2);

    display: grid;
    align-items: center;
    justify-content: center;
    gap: space(8);

    @media (min-width: theme('screens.md')) {
        grid-auto-flow: column;
    }

    + * {
        margin-block-start: calc(var(--flow-space, var(--space-layout)) / 2);
    }

    :where(.taxonomy-filters__label) {
        text-align: center;
    }

    :where(.taxonomy-filters__list) {
        --grid--column-gap: space(8);

        justify-content: center;
    }

    :where(.taxonomy-filters__item):not(.taxonomy-filters__item--current) {
        @apply btn--theme-2;
    }
}
