.stars {
  display: flex;
  align-items: center;
  justify-content: center;
    gap: 4px;

    .star__filled,
    .star__empty {
        width: 1.5625rem;

        svg {
            width: 100%;
            height: auto;
        }
    }
}

.star__filled,
.star__empty {
    svg {
        width: 100%;
        height: 100%;
    }
}