.trip-related-stories {
    .cards__inner {
        padding-top: spaceFluid(40, 80);
        padding-bottom: spaceFluid(40, 80);
    }

    .cards__header {
        text-align: left;
        margin-bottom: space(32);
    }

    .cards__heading {
        @apply type-h4;
        margin: 0;
        color: var(--color-navy);
        text-transform: unset;
    }

    .g-card__header, a {
        color: var(--color-navy);
    }

    .g-card__header, a:hover {
        color: var(--color-mid-blue);
    }

    .g-card__content {
        color: var(--color-navy);
    }

    &[class*='cards--columns-'] {
        .cards__items {
            margin-bottom: 0;
        }
    }

    @media (width < theme('screens.md')) {
        .cards__inner {
            padding: space(40) space(20);
        }

        .cards__header {
            margin-bottom: space(24);
        }

        .cards__heading {
            @apply type-h3;
        }

        .cards__items {
            gap: space(24);
        }

        .g-card:where(.g-card--type--horizontal):where(.g-card--type--story) .g-card__meta {
            color: var(--color-mid-blue);
        }
    }
}
