.trip-intro__inner {
    display: flex;
    flex-direction: column;
    gap: spaceFluid(16, 24);
}

.trip-intro__lead,
.trip-intro__body {
    margin: 0;

    & > p {
        margin: 0;

        & + p {
            margin-top: spaceFluid(8, 12);
        }
    }
}
